body {
  background-color: #af4760;
}

.container {
  background: white;
  box-shadow: 0 2px 2px #4A2D74;
  color: #111;
  width: 80%;
  margin: 2em auto;
  padding: 3em;
  position: relative;
  border-radius: 15px;
}


ul {
  padding: 0;
  list-style-type: none;
}

.btn {
  margin-top: 50px;
}

.btn-custom {
  background-color: #bd4662;
  border-color: #bd4662;
  color: white;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #ac3d57;
  border-color: #99374e;
  color: white;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #bd4662;
  border-color: #bd4662;
}

#error h5 {
  color: red;
}

#results, #error {
  display: none;
  padding: 10px;
  border: solid 5px #6A123D;
  text-align: center;
}

figure {
  display: inline-block;
  margin-right: 35px;
}

.page-header {
  margin: 0;
}