body {
  background-color: #af4760;
}

.container {
  background: white;
  box-shadow: 0 2px 2px #4A2D74;
  color: #111;
  width: 80%;
  margin: 3em auto;
  padding: 3em;
  position: relative;
  border-radius: 15px;
}


ul {
  padding: 0;
  list-style-type: none;
}

.btn {
  margin-top: 50px;
}

#error h5 {
  color: red;
}

#results, #error {
  display: none;
  padding: 10px 10px 10px 20px;
  border: solid 5px #6A123D;
}